%h2 The only step to start writing
= form_tag login_path do |f|
  = label_tag :username, 'Who do you want to be?'
  .input-append
    = text_field_tag :username
    = submit_tag 'Start the Scene!', class: 'btn'
