= link_to 'Write the Scene', root_path, class: 'brand'
- if session[:username]
  %ul.nav.pull-right
    %li
      %a= "Welcome to the chatroom, #{session[:username].capitalize}!"
    %li
      = link_to 'Log out', end_scene_path(@scene.id) , method: :delete, confirm: 'Are you sure you want to leave the Scene?'
